
{% extends "about/layout.html" %}
{% load static %}

{% block content %}
<!-- site-content -->
<div class="site-content">
    <article class="page">
        <div class="page-content">
            <div class="pretty-links">
                <div class="lead lead-about">
                    <p>I am passionate about using statistics and 
                    machine learning in the field of investment research.
                    </p>
                </div>
            </div>
            <figure class="site-profile">
                <img  class='imgProfile' src="{% static '/about/img/photo.jpg' %}">
            </figure>
            <p>My name is Rahul Indhane, I am a data scientist and a full stack developer. I am  interested in making essentially reliable decisions through algorithms in domain of finance.</p> 
        </div>
    </article>
</div>
<!-- site-content -->
{% endblock %}