{% extends "about/layout.html" %}
{% load static %}

{% block content %}
<!-- site-content -->
<div class="site_content">
    <h1 class="page__title">
        <span class="page__title-pre">Project Details</span> 
        <span>Accounting Research </span>
    </h1>

    <br/>
    <section class="notelist" >
        <article class="notelist__item">
            <time class="notelist__date" datetime="2021-06-15T00:00:00Z">15 June 2021</time>
            <div class="notelist__content">
                <p> Dear Reader, <br> I am seeking to carry out a capstone project for my accounting research course. It is an mandatory requirement in the credit course of my post graduate diploma. Check out the curriculum details <a href='https://amityonline.com/i-learn/post-graduate-diploma-in-public-accounting-online' target='_blank' rel="noopener noreferrer" >here</a>.</p>
                <p>
                    Applicable area for project work are : 
                    <ul>
                        <li>Accounting Methodology</li>
                        <li>Business Finance</li>
                        <li>Economic Analysis</li>
                        <li>Portfolio Management </li>
                    </ul>
                </p>
                <p>
                    If you or your organization need to conduct a research work, related to above topics, please reach out to me on this email: <a href="mailto:email@irahul.me"> email@irahul.me</a>.     
                </p>
                <p>
                 Outcome of project work will have following deliverables <span> can be fine tuned as per requirement </span>:
                 <ol>
	                <li> Comprehensive project report prepared as per APA style guidelines <a href='https://apastyle.apa.org/' target='_blank' rel="noopener noreferrer"> Link</a> </li> 
	                <li>Full copyrights to source code </li>
	                <li>Access to catalogued data gathered for research</li>
	                <li>Author-credit to involved stakeholders</li>
	                <li>Hosting and Publishing to desired web platform for access to third parties</li>
                </ol>
                </p>
            </div>
        </article>
        <article class="notelist__item">
            <time class="notelist__date" datetime="2021-06-16T00:00:00Z">16 June 2021</time>
            <div class="notelist__content">
                <p>Info:</p>
                <p> One of the key requirement for project completion is to carry out the complete work under a project guide.He needs to certify that the conduct of the project-work has been under his supervision. Eligibility criteria for project guide:
                 <ul>
                     <li>must have a Post Graduate degree </li>
                     <li>minimum 10 years of work experience</li>
                 </ul> 
                </p>
                <p> The overall project guidelines are available in this <a id ='guidelines' href='https://drive.google.com/file/d/14Ms1wHQ3AwQkIyJtJpiqnOOLxUOrSdrT/view?usp=sharing'>document</a>  
                </p>
            </div>
        </article>
    </section>
</div>
 <!-- site-content -->
{% endblock %}