{% extends "about/layout.html" %}
{% load static %}

{% block content %}
<!-- site-content -->
<article class="page">  
    <header class="page-header">
      <h1 class="page-title">Blog Details</h1>
    </header>
    <div class="page-content">
        <div class="pretty-links">
            <div class="lead lead-about">
                <p>Read about my exploration & understanding of <a href="https://rindhane.github.io/">machine learning</a>.
                </p>
            </div>
        </div>
    </div>
</article>
<!-- site-content -->
{% endblock %}