<!DOCTYPE html>
{% load static %}
<html>
<title>About Rahul</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href='{% static "about/css/style.css" %}'>
<body class="w3-light-grey">
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
		<img
		src='{% static "about/files/new_2.jpg" %}'
		style= "width:100%; 
			padding-left:20%;
			padding-right:20%;
			padding-top:20%;
			padding-bottom:20%;
			border-radius: 50%;" 
		alt="Avatar">
  	 <div class="w3-display-bottomleft w3-container w3-text-teal">
            <h2>Rahul Indhane</h2>
          </div>
	</div>


        <div class="w3-container">	
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Project Manager & Data Scientist</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Gurgaon, India</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>rindhane[at][gmail.com]</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>8130848031</p>
	  <p><i class="fa fa-id-card fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://drive.google.com/file/d/1bYFOY67M8u4WBoNPsgX3672bPLGfDxn8/view?usp=sharing" >Resume [PDF]</a></p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Python, C/C++, Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>HTML, CSS, JavaScript, SQL</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Statistical Modelling</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>

          <p>Tensorflow, Pytorch, Scikit</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <p>Git,Linux administration</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>

          <p>gcloud, AWS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>

          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Certifications</b></p>
	  <section class="mod-text"><p><strong>CFA [Level-1 cleared]</strong><br>Understanding of portfolio management, equity analysis,economic theory.</p> </section>
          <div class="w3-light-grey w3-round-xlarge">

            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
	  <section> <p><strong>Machine Learning Course @Stanford Coursera</strong><br>Mathematical understanding to build ML models from scratch.</p></section>

          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
	  <section class="mod-text"><p><strong>Customer Analytics @ Wharton Coursera</strong><br>Understanding of analytics to predict customer behaviour for sales turnover </p> </section>
          <div class="w3-light-grey w3-round-xlarge">

            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>

	  <section class="mod-text"><p><strong>Data Scientist Nano-Degree @Udacity</strong><br>Building data science skills for
industry level problems</p> </section>
          <div class="w3-light-grey w3-round-xlarge">

            <div class="w3-round-xlarge w3-teal" style="height:24px;width:75%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-database fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Data Science Projects</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Image Classifier to identify 102 species of flowers</b></h5>
          <a class="w3-text-teal" href= "https://github.com/rindhane/Image_classifier"><i class="fa fa-external-link-square fa-fw w3-margin-right"></i>Code Respository [GitHub]</a>
          <ul>
		  <li>Built a command line API to be consumed in local application to identify the flower species in a full resolution image.</li>
		  <li>Functionality of code was to create a fully connected layer to train the local application on CNN & deliver the prediction as API output.</li>
		  <li> Pytorch’s Resnet & VGG pre-trained CNN were used to build application</li>
	  </ul>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Selection of suitable index derivatives based on the price premium</b></h5>
          <a class="w3-text-teal" href= "https://github.com/rindhane/stock_options"><i class="fa fa-external-link-square fa-fw w3-margin-right"></i>Code Respository [GitHub]</a>
          <ul>
		  <li>Carried out the analysis to estimate the call premiums using the Black-Scholes-Merton equation.</li>
		  <li>Built function to scrape the live data of the derivatives from BSE site drive the analysis in real time to extend it to algorithmic trading</li>
		  <li>Created API methods to produce local database in sqlite of historical records of stock prices from the BSE website.</li>
	  </ul>
          <hr>
        </div>
	<div class="w3-container">
          <h5 class="w3-opacity"><b>Prediction of the SKU-segment sales for retail branches of Big-Mart.</b></h5>
          <a class="w3-text-teal" href= "https://github.com/rindhane/sales_analysis"><i class="fa fa-external-link-square fa-fw w3-margin-right"></i>Code Respository [GitHub]</a>
          <ul>
		  <li>Conducted exploratory analysis of the raw data to select the parameters for the selection of features for sales prediction</li>
		  <li>Created regression models from Tensorflow, Scikit libraries to prepare a best performing method for prediction, selected through comparative analysis.</li>
		  <li>The resultant method is to able to predict the sales around the sigma deviation of the mean sales of entire segments.</li>
	  </ul>
	</div>
	<hr>
      </div>
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Associate Manager in Project Engineering @ HeroMotoCorp Ltd.</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2017 - Dec 2019</h6>
	  <ul>
		  <li> Creating an Industry 4.0 production environment for greenfield manufacturing facility to achieve first smart factory in two-wheeler
			  production industry </li>
		  <li>Leading the AI Initiative for manufacturing facilities at Hero </li>
		  <li> Part of the core team to lead the implementation of Enterprise Digital transformation</li>
		  <li>Delivered an application to automate the monthly production planning to increase the demand fulfillment by 2% at volumes of 8.3
			  million </li>
	  </ul>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Deputy Manager in Project Engineering @ HeroMotoCorp Ltd.</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2014 - July 2017</h6>
	  <ul>
		  <li>Established a greenfield automated warehouse to deliver 10X productivity from operations of two-wheeler spare parts business.</li>
		  <li>Lead the CFT team to manage the engineering workflow to bring 6 new models to mass production process as part of new model development.</li>
	  </ul>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Assistant Manager in Project Engineering @ HeroMotoCorp Ltd.</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2011 - July 2014</h6>
	  <ul>
		  <li>Project lead to transfer the 70+ inhouse process to existing supply chain partners </li>
		  <li> Responsibility of creating & maintaining the cost structures of inhouse manufacturing processes for input to manufacturing strategy.
		  </li>
		  <li>Project lead to conduct value engineering to reduce the inhouse manufacturing cost by 6% for two export models.</li>
	  </ul>
          <hr>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>IIT BHU, Varanasi</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2007-2011</h6>
	  <p><strong>Bachelor of Technology in Mechanical Engineering</strong></p>
	  <ul>
		  <li>Compliant Mechanism @ IISc</li>
		  <li>Baja Vehicle Development</li>
		  <li>Wind simulation for India’s wind potential</li>
	  </ul>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity" ></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>

